{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="main">
    <div class="main-container">
        <div class="timeline">
            <div class="timeline-right">
                {% for post in blogpost %}
                <div class="album box">
                    <div class="status-main">
                        <div class="album-detail">
                            <div class="album-title">
                                <strong>{{ user }}</strong> create new blog post:
                                <span><a href="{% url 'Article' post.pk %}">{{post.title}}</a></span>
                            </div>
                            <div class="album-date">{{ post.created }}</div>
                        </div>
                    </div>
                    <div class="album-content">
                        <div class="album-photos">
                            {% if post.photo %}
                            <img
                                    src="{{ post.photo.url }}"
                                    alt=""
                                    class="album-photo"
                            />
                            {% else %}
                            <img
                                    src=""
                                    alt=""
                                    class="album-photo"
                            />
                            {% endif %}
                        </div>
                        {% if post.short_content %}
                        {{ post.short_content }} ...
                        {% else %}
                        {{ post.content }}
                        {% endif %}
                    </div>
                    <div class="album-actions">
                        {% if user.is_authenticated and user != post.author %}
                            <a hx-get="{% url 'like-post' post.id %}"
                               hx-target="#like-{{ post.id }}"
                               hx-swap="innerHTML"
                               class="album-action">
                                <svg
                                    stroke="currentColor"
                                    stroke-width="2"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="css-i6dzq1"
                                    viewBox="0 0 24 24"
                            >
                                    {% if user in post.likes.all %}
                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"/>
                                    {% else %}
                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"/>
                                    {% endif %}
                            </svg>
                                <div id="like-{{ post.id }}">{{ post.likes.count }}</div>

                            </a>
                        {% endif %}
                        <a href="{% url 'Article' post.pk %}" class="album-action">
                            <svg
                                    stroke="currentColor"
                                    stroke-width="2"
                                    fill="none"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    class="css-i6dzq1"
                                    viewBox="0 0 24 24"
                            >
                                <path
                                        d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z"
                                />
                            </svg>
                            {% if post.comments.count %}
                            {{ post.comments.count }}
                            {% else %}
                            add comment
                            {% endif %}

                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}