{% extends 'main/base.html' %}
{% load static %}
{% block content %}
<head>
    <!--    проверить подгонку по размерам окна-->
    <link rel="stylesheet" href="{% static 'css/articleblog.css' %}"/>
</head>

<div class="main">
    <div class="main-container">
        <div class="timeline">
            <div class="timeline-right">
                <div class="profile">
                    <article class="art_blog">
                        <h1 class="main_title">{{ gpost.title }}</h1><h5><a href="{% url 'updatevg' gpost.pk %}">edit</a></h5>
                        <p class="author"> by {{ gpost.autor }}<br/>Published on: {{ gpost.created }}</p>
                        <video
                                    src="{{ gpost.video.url }}"
                                    class="album-photo"
                                    controls
                            ></video>
                        <p class="intro">{{ gpost.description }}</p>
                    <!--__________ Comment count block _______-->
                        <h2>Comments...
                            <a href="#" class="album-action">
                                <svg
                                        stroke="currentColor"
                                        stroke-width="2"
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="css-i6dzq1"
                                        viewBox="0 0 24 24"
                                >
                                    <path
                                            d="M21 15a2 2 0 01-2 2H7l-4 4V5a2 2 0 012-2h14a2 2 0 012 2z"
                                    />
                                </svg>
                                {{ gpost.commentsvg.count }}
                            </a>
                        </h2>
                    <!--__________ Like count and use block _______-->
                        <h2>
                            Likes...
                            <div id="like-{{ gpost.id }}">{{ gpost.likes.count }}</div>
                            {% if user.is_authenticated and user != gpost.autor %}
                            <a hx-get="{% url 'like-VG' gpost.id %}"
                               hx-target="#like-{{ gpost.id }}"
                               hx-swap="innerHTML"
                               class="album-action">
                                <svg
                                        stroke="currentColor"
                                        stroke-width="2"
                                        fill="none"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="css-i6dzq1"
                                        viewBox="0 0 24 24"
                                >
                                    {% if user in gpost.likes.all %}
                                    <i class="fa fa-heart"></i>
                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"/>
                                    {% else %}
                                    <i class="fa fa-heart"></i>
                                    <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"/>
                                    {% endif %}
                                </svg>
                            </a>
                            {% endif %}
                        </h2>
                        <hr>
                    <!--__________ Add Comment Blok _______-->
                        <div class="row justify-content-center mt-3 mb-5">
                            <div class="col-md-5 cil-sm-12">
                                <form method="POST" action="{% url 'commentVG-sent' gpost.id %}">
                                    {% csrf_token %}
                                    <div class="form-error">{{ form.non_field_errors }}</div>
                                    {{ commentvgform.as_p }}
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-success mt-3">Submit!</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <!--__________ Comment Blok _______-->
                        <hr>
                        <hr>
                        {% if not gpost.commentsvg.all %}
                        No Comments Yet...
                        Add One...
                        {% else %}

                        {% for comment in gpost.commentsvg.all %}
                        <!-- Contenedor Principal -->
                        <div class="comments-container">
                            <ul id="comments-list" class="comments-list">
                                <li>
                                    <div class="comment-main-level">
                                        <!-- Avatar -->
                                        <div class="comment-avatar"><img src="{%for pr in profuser %}{% if pr.user_id == comment.autor_id %}{{ pr.avatar.url }}
                                        {% endif %}{% endfor %}" alt=""></div>
                                        <!-- Contenedor del Comentario -->
                                        <div class="comment-box">
                                            <div class="comment-head">
                                                {% if comment.autor %}
                                                <h6 class="comment-name by-author"><a href=" ">{%for pr in profuser %}
                                                    {% if pr.user_id == comment.autor_id %}
                                                    {{ pr.first_name }} {{ pr.last_name }}{% endif %}{% endfor %}</a>
                                                </h6>
                                                {% else %}
                                                <h6 class="comment-name by-author"><a href=" ">No Author</a></h6>
                                                {% endif %}
                                                <span>{{ comment.time_created }}</span>
                                                {% if user.is_authenticated and comment.autor == user %}
                                                <a href="{% url 'commentvg-delete' comment.id %}"><i
                                                        class="fa fa-trash"></i></a>
                                                {% endif %}
                                                <i class="fa fa-reply"> {{ comment.replies.count }}</i>

                                                {% if user.is_authenticated and user != comment.autor %}
                                                <a hx-get="{% url 'like-commentvg' comment.id %}"
                                                   hx-target="#like-{{ comment.id }}"
                                                   hx-swap="innerHTML"
                                                   >
                                                <i class="fa fa-heart" id="like-{{ comment.id }}">{{ comment.likes.count }}</i>
                                                </a>
                                                {% elif user.is_authenticated and user == comment.autor %}
                                                <i class="fa fa-heart">{{ comment.likes.count }}</i>
                                                {% endif %}
<!--                                                {% include 'blog/snippets/likes_comment.html' %}-->
                                            </div>
                                            <div class="comment-content">
                                                {{ comment.comment }}
                                            </div>
                                             {% if user.is_authenticated %}
                                            <div class="row justify-content-center mt-3 mb-5">
                                                <div class="col-md-5 cil-sm-12">
                                                    <form method="POST" action="{% url 'replyVG-sent' comment.id %}">
                                                        {% csrf_token %}
                                                        <div class="form-error">{{ form.non_field_errors }}</div>
                                                        {{ replyvgform.as_p }}
                                                        <div class="d-grid gap-2">
                                                            <button class="btn btn-success mt-3">Submit!</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <!-- Respuestas de los comentarios -->
                                    {% for reply in comment.repliesvg.all %}
                                    <ul class="comments-list reply-list">
                                        <li>
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img
                                                    src="{%for pr in profuser %}{% if pr.user_id == reply.autor_id %}{{ pr.avatar.url }}{% endif %}{% endfor %}"
                                                    alt=""></div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    {% if comment.autor %}
                                                    <h6 class="comment-name"><a href="">{%for pr in profuser %}{% if pr.user_id == reply.autor_id %}
                                                        {{ pr.first_name }} {{ pr.last_name }}{% endif %}{% endfor %}</a></h6>
                                                    {% else %}
                                                    <h6 class="comment-name"><a href="">No Author</a></h6>
                                                    {% endif %}
                                                    <span>{{ reply.time_created }}</span>
                                                    {% if user.is_authenticated and reply.autor == user %}
                                                    <a href="{% url 'replyvg_delete' reply.id %}"><i
                                                            class="fa fa-trash"></i></a>
                                                    {% endif %}
                                                    {% if user.is_authenticated and user != reply.autor %}
                                                <a hx-get="{% url 'like-replyvg' reply.id %}"
                                                   hx-target="#like-{{ reply.id }}"
                                                   hx-swap="innerHTML"
                                                   >

                                                <i class="fa fa-heart" id="like-{{ reply.id }}">{{ reply.likes.count }}</i>
                                                </a>
                                                    {% elif user.is_authenticated and user == reply.autor %}
                                                    <i class="fa fa-heart">{{ reply.likes.count }}</i>
                                                    {% endif %}

                                                </div>
                                                <div class="comment-content">
                                                    {{ reply.comment }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>

                        {% endfor %}
                        {% endif %}
                        <hr>


                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}